.benefits__list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__item {
  max-width: 450px;
  @media (min-width: 768px) {
    max-width: 354px;
  }

  @media (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.benefits__icon-wrapper {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-section);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__title {
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}
