.header {
  border-bottom: 1px solid #ececec;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.navigation {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 32px 0px;
  margin-right: auto;
}

.navigation__navigation-list {
  display: flex;
  gap: 50px;
}

.navigation__navigation-link {
  position: relative;
  padding: 32px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts {
  display: flex;
  gap: 50px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.header-contacts__contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
