.hero {
  background-color: var(--background-grey);

  padding-top: 118px;
  padding-bottom: 118px;

  // height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/mobile/hero-01-ss.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/mobile/hero-01-ss@2x.jpg');
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/tablet/hero-01-ms.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 481px),
    screen and (min-resolution: 192dpi) and (min-width: 481px),
    screen and (min-resolution: 2dppx) and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/tablet/hero-01-ms@2x.jpg');
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/desktop/hero-01-ls.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/desktop/hero-01-ls@2x.jpg');
  }

  @media (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__hero-title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}

.hero__hero-button {
  margin: 0 auto;
  cursor: pointer;
}
