.team {
  background-color: var(--background-section);
}

.team__title {
  margin-bottom: 50px;
}

.card-list {
  display: flex;
  gap: 30px;
}

.card-list__card-wrapper {
  background: var(--primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-list__image {
  margin-bottom: 30px;
}

.card-list__container {
  padding: 30px 32px;
}

.card-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.card-list__subtitle {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white);
    background-color: var(--accent-color);
  }
}

.social__icon-background {
  width: 44px;
  height: 44px;
}

.social__social-icon {
  fill: currentColor;
}